.left{
	width:200px;
	height:100%;
	border-right: 1px solid #CCCCCC;
}
.left,.right{
	display: inline-block;
	margin-top:20px;
}
.title{
	border-bottom: 1px solid #CCCCCC;
	
}
.title label{
	color: grey;
	margin-left: 10px;
	margin-bottom: 5px;
}
ul li{
	height: 40px;
	list-style: none;
	border-bottom: 1px solid #CCCCCC;
}
.rarrows{
	font-size: 14px;
	color: #72A7CF;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 40px;
}
.rtext{
	padding-left: 10px;
	line-height: 40px;
}
.rtext:hover{
	cursor: pointer;
}
.resource ul li:hover{
	cursor: pointer;
	background-color: #E4F1FB;
}
.resource .bli:hover > .rtext{
	margin-left: -2px;
	margin-top: -2px;
}

.ali{
	background-color: #E4F1FB;
	color: #3C8DBC;	
}
.ali .database{
	color: #3C8DBC;
}
