.container{
	margin: 0px;
	padding: 0px;
}
.left{
	width: 200px;
	height:100%;
	border-right: 1px solid #CCCCCC;
	margin-left: 20px;
	overflow: auto;
}
.left,.right{
	display: inline-block;
	margin-top:20px; 
}
/* .title{
	border-bottom: 1px solid #CCCCCC;
	
} */
.title label{
	color: grey;
	margin-left: 10px;
	margin-bottom: 5px;
}
ul li{
	height: 40px;
	list-style: none;
	border-bottom: 1px solid #CCCCCC;
}
/* .rarrows{
	font-size: 14px;
	color: #72A7CF;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 40px;
}
.rtext{
	padding-left: 10px;
	line-height: 40px;
} */
/* .rtext:hover{
	cursor: pointer;
} */
#tree li{
	width: 200px;
}
#tree .icon{
	font-size: 10px;
	margin-right: 10px;
}

.right{
	border:1px solid #CCCCCC;
	position: absolute; 
	left:225px; 
	top:0px; 
	width:80%;
	height: 100%
}
.runButton{
	color: #7CFC00;
	display: inline-block;
	border: 1px solid #CCCCCC;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 10px;
}
.runIcon{
	font-size: 30px;
	line-height: 30px;
}
.stopIcon,.rollBackIcon{
	line-height: 30px;
}

.top .run,.top .stop,.top .rollBack{
	color: #7F7F7F;
	display: inline-block;
	vertical-align: middle;
	height: 30px;
}
.stopButton{
	color: red;
	display: inline-block;
	border: 1px solid #CCCCCC;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 10px;
	vertical-align: middle;
	margin-top: -12px;
}
.rollBackButton{
	color: #006600;
	display: inline-block;
	border: 1px solid #CCCCCC;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 10px;
	vertical-align: middle;
	margin-top: -12px;
}
.handler{
	border:1px solid #CCCCCC;
	width:100%;
	height:1px;
	line-height: 1px;
	text-align: center;
}
.right .middle{
	border-top: 1px solid #CCCCCC;
	height:330px;
	margin-top: 0px;
	
}
.panel{
	margin-top: 20px;
	width: 90%;
	height:300px;
	border-radius: 0px;
	border-right:1px solid #AED0EA;
	border-top:1px solid #AED0EA;
	border-bottom:1px solid #AED0EA;
	float: left;
	overflow: auto;
}
.panel .database-content{
	border: none;
	width: 100%;
	outline: none;/* 取消选中时边框样式 */
}
.inputBg{
	background-color: #ECFFFF;
}
.num{
	border-radius: 0px;
	border-left:1px solid #AED0EA;
	border-top:1px solid #AED0EA;
	border-bottom:1px solid #AED0EA;
	border-right:1px solid grey;
	margin-top: 20px;
	margin-left: 20px;
	height:300px;
	width: 50px;
	background-color: #EBEBEB;
	text-align: center;
	float: left;
	overflow-y: hidden;
}
.num li{
	height: 22px;
	border-bottom: none;
	color: grey;
}
.libg{
	background-color: #DADADA;
}
.database-content{
	padding-left: 10px;
}
.database-content div{
	font-size: 16px;
	width: 89.7%;
}
.suggestion{
	position: absolute;
	display: none;
	overflow-x: hidden;
	border: 1px solid grey;
	width: 200px;
	height:100px;
}
.suggestion li{
	padding-left: 10px;
	height: 22px;
	line-height: 22px;
}
.suggestion li:hover{
	background-color: grey;
	cursor: pointer;
}
.bottom{
	position: absolute;
	width: 95%;
	top: 410px;
	height: 120px;
	border: 1px solid #AED0EA;
	margin-left: 20px;
	overflow: auto;
}
.console{
	display: block;
	width: 50px;
	background-color: #00FF00;
	float: left;
	text-align: center;
	color: white;
	border-radius: 5px;
	font-size: 10px;
}
.consoleContent{
	display: block;
	width: 90%;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}
#result{
	margin-top: 10px;
}
#result table td{
	border: 1px solid #AED0EA;
	text-align: center;
}
.loading{
	color: #AED0EA;
	position: absolute;
	top: 40%;
	left: 50%;
	display: none;
}
.rightHand{
	position : absolute;
	display: none;
	border: 1px solid #DDDDDD;
	width: 150px;
	border-radius: 5px;
	z-index: 1000;
}
.rightHand li{
	text-align: center;
	background-color: white;
	color: grey;
	line-height: 40px;
	cursor: pointer;
}
.table-bordered tr td{
	text-align: center;
}

