.addButton{
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 5px;
	border: 1px solid #DDDDDD;
	width: 100px;
	height: 100px;
}
.addButton i{
	color: #969696;
}
.data button{
	border: none;
	background-color: white;
	outline: none;
}
.data button i{
	color: #969696;
	vertical-align: middle;
}
.tableData{
	overflow: auto;
}
.tableData tr td{
	text-align: center;
	width: 210px;
}
.tableData tr td input{
	width: 100%;
	height: 25px;
	
}
.tableData tr td select{
	width: 100%;
	height: 25px;
}
.data .add{
	margin-left: 10px;
}
.data .del{
	margin-left: 10px;
}
.treeData{
	display: none;
}
.treeIcon{
	padding-left: 10px;
	padding-right: 10px;
}