.dataTable{
	margin-top: 20px;
}
.dataTable thead tr:FIRST-CHILD{
	background-color: #EAEAEA;
	
}
.dataTable tbody tr td:last-child{
	color: #005580;
	cursor: pointer;
}
.dataTable tbody label{
	font-weight: normal;
}
.title{
	margin-top: 40px;
}
.title input{
	border-radius: 5px;
	border: 1px solid #ddd;
	padding-left: 10px;
}
.type{
	height: 24px;
	border-radius: 5px;
	outline: none;
}
.add{
	background-color: #5bb75b;
}
.search{
	background-color: #0044cc;
}
.add,.search{
	height: 30px;
	width: 54px;
	line-height: 30px;
	border-radius: 5px;
	border: 1px solid #ddd;
	color: white;
}
.addTable input{
	border-radius: 5px;
	border: 1px solid #ddd;
	padding-left: 10px;
}
.showADD{
	margin-top: 40px;
	display: none;
}
.showEdit input{
	border-radius: 5px;
	border: 1px solid #ddd;
	padding-left: 10px;
}
.showEdit{
	display: none;
	margin-top: 40px;
}
.addTable select{
	width: 200px;
}
.addTable tr td:nth-child(1){
	width: 200px;
}
.addTable tr td:nth-child(2){
	width:250px;
}
.roleCollection,.preCollection{
	height: 30px;
	width: 200px;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: none;
	position: absolute;
	background-color: #ddd;
}
.roleCollection li:hover,.preCollection li:hover{
	background-color: #333;
	border-radius: 5px;
	color: white;
}
li{
	list-style: none;
	height: 30px;
	text-align: center;
	background-color: #ddd;
}
.editTable td{
	margin: 0px;
	padding: 0px;
}
.roleList,.preList{
	margin: 0px;
	padding: 0px;
}
.roleList li,.preList li{
	display: inline-block;
	margin-left: 10px;
	background-color: white;
	cursor: pointer;
}
.preUl li,.roleUl li{
	display: inline;
	margin-left: 10px;
	background-color: white;
}