<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}">
  <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Oa System
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!-- CSS Files -->
  <link th:href="@{/assets/css/material-dashboard.css?v=2.1.1}" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link th:href="@{/css/Settings.css}" rel="stylesheet" />
  <link th:href="@{/css/bootstrap-tour.css}" rel="stylesheet" />
  <link th:href="@{/css/package.css}" rel="stylesheet" />
</head>

<body class="">
  <div class="commonMenu" th:replace="~{common::menu}"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <div class="commonTop" th:replace="~{common::top}"></div>
      <!-- End Navbar -->
      <div class="content">
           	<div>
	           <div>
	           		<div class="steptab1 btn btn-info btn-lg" th:text="#{step1.update}"></div>
	           		<div class="steptab2 btn btn-lg" th:text="#{step2.package}"></div>
	           </div>
	           <div class="center_div">
	           		<div class="update_title">
	           			<label th:text="#{version.info}"></label>:
	           			<input type="text" readonly="readonly" class="code_version" value="code version"/>
	           			<button class="btn btn-info  update" th:text="#{update}"></button>
	           		</div>
	           		<div class="package_title">
	           			<label th:text="#{command}"></label>:
	           			<input type="text"  class="mvn_command" placeholder="mvn command" />
	           			<button class="btn btn-info  package" th:text="#{package}"></button>
	           		</div>
	           		
	           		<div class="table_div">
	           			<div class="update_value"></div>
	           			<div class="package_value"></div>
	           			<div class="step">
	           				<button class="prev_step btn" th:text="#{prev}" value="1"></button>
	           				<button class="next_step btn btn-info" th:text="#{next.step}" value="2"></button>
	           				<button class="finnish btn btn-info" th:text="#{finish}" value="3"></button>
	           		 	</div>
	           		</div>
	           		
	           </div>
	         </div>
      </div>
       <div  th:replace="~{common::foot}"></div>
       <div   th:replace="~{common::i18n}"></div>
    </div>
    <div   th:replace="~{common::plugin}"></div>
    <div style="display:none;">
    	<input type="hidden" class="websocketIp" th:value="${websocketIp}">
    	<input type="hidden" class="serverPort" th:value="${serverPort}">
    	<input type="hidden" class="jsessionId" th:value="${jsessionId}">
    	<input type="hidden" class="serialNumber-i18n" th:value="#{serial.number}">
    	<input type="hidden" class="localAddress-i18n" th:value="#{local.warehouse.address}">
    	<input type="hidden" class="remoteAddress-i18n" th:value="#{remote.repository.address}">
    </div>
</body>
  <block th:replace="~{common::js}"></block>
  <script th:src="@{/js/package.js}"></script>
</html>
