<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}">
  <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Oa System
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!-- CSS Files -->
  <link th:href="@{/assets/css/material-dashboard.css?v=2.1.1}" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link th:href="@{/assets/demo/demo.css}" rel="stylesheet" />
  <link th:href="@{/css/Settings.css}" rel="stylesheet" />
</head>

<body class="">
  <div class="commonMenu" th:replace="~{common::menu}"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <div class="commonTop" th:replace="~{common::top}"></div>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
            <div class="showTab card">
				<div class="title">
					<select class="type">
						<option th:value="1" th:text="#{serial.number}"></option>
						<option th:value="2" th:text="#{address}"></option>
					</select>
					<input type="text"/>
					<button th:text="#{search}" class="search"></button>
					<button th:text="#{add}" class="add"></button>
				</div> 
				<div class="data">
					<table class="table table-bordered table-hover definewidth m10 dataTable" >
						<thead>
							<tr>
								<th th:text="#{serial.number}"></th>
								<th th:text="#{local.warehouse.address}"></th>
								<th th:text="#{remote.repository.address}"></th>
								<th th:text="#{operater}"></th>
							</tr>
						</thead>
						<tbody>
							 <tr  th:each="set:${sets}">
	                        	<td th:text="${set.num}"></td>
	                        	<td th:text="${set.local}"></td>
	                        	<td th:text="${set.remote}"></td>
	                        	<td th:text="#{edit}" class="edit"></td>
	                        </tr>
						</tbody>
						
					</table>
				</div>
			</div>
            </div>
          </div>
        </div>
      </div>
       <div class="commonTop"  th:replace="~{common::foot}"></div>
    </div>
  </div>
</body>
  <block th:replace="~{common::js}"></block>
  <script th:src="@{/js/Settings.js}"></script>
</html>
