<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/database.css}" rel="stylesheet" type="text/css">
<script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/hws.ajax.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/layer/layer.js}" type="text/javascript"></script>
<script th:src="@{/js/database.js}" type="text/javascript"></script>
</head>
<body>
	<div class="container">
		<div class="left">
			<div class="title">
				<label th:text="#{database}"></label>
			</div>
			<div class="resource">
				<ul>
					<li class="bli">
						<i class="fa fa-caret-right rarrows"></i>
						<i class="fa fa-database database"></i>
						<label class="rtext">test</lable>
					</li>
					
				</ul>
				
			</div>
		</div>
		<div class="right">
			<div class="top">
			ss
			</div>
			<ul id="myTab" class="nav nav-tabs">
					<li class="active">
						<a href="#edit" style="color:#72A7CF;" data-toggle="tab" th:text="#{editor}"></a>
					</li>
			</ul>
			<div  class="tab-content middle">
				<ul class="num" >
					<li class="libg">1</li>
				</ul>
				<div class="panel">	
					
					<div class="database-content"   contenteditable="true">
						<!-- 解决开始获取焦点时div第一行不会产生一个子div,当按下回车时候才会产生,
						但是一般要输入数据后才会按回车 -->
						<div><br/></div>
					</div>
					<ul class="suggestion"></ul>
					
				</div>
			</div>
			<div draggable="true" class="fa fa-arrows-v handler"></div>
			<div class="bottom">
				<div  contenteditable="true" ></div>
			</div>
		</div>
	</div>
</body>
</html>