<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{backstage.management.system}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link th:href="@{/assets/css/dpl-min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/bui-min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/main-min.css}" rel="stylesheet" type="text/css" />
 	<!-- <script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
 	<script th:src="@{/js/jquery.cookie.js}" type="text/javascript"></script>
    <script th:src="@{/js/websocket.js}" type="text/javascript"></script> -->
</head>
<body>

<div class="header">

    <div class="dl-title">
       <!--  <img src="/assets/img/top.png"> -->
    </div>

    <div class="dl-log"><span th:text=#{welcome.to.you}></span>，<span class="dl-log-user">root</span><a href="/chinapost/index.php?m=Public&a=logout"  class="dl-log-quit" th:text="#{exit.1}"></a>
    </div>
</div>
<div class="content">
    <div class="dl-main-nav">
        <div class="dl-inform"><div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div></div>
        <ul id="J_Nav"  class="nav-list ks-clear">
            <li class="nav-item dl-selected"><div class="nav-item-inner nav-home" th:text="#{systemmanage}"></div></li>		
            <li class="nav-item dl-selected"><div class="nav-item-inner tool" th:text="#{programtool}"></div></li>
		
        </ul>
    </div>
    <!-- js填入数据 -->
    <ul id="J_NavContent" class="dl-tab-conten">
    </ul>
</div>
<div class="il18">
	<input type="hidden" th:value="#{usermanage}" class="usermanage"/>
	<input type="hidden" th:value="#{systemmanage}" class="systemmanage"/>
	<input type="hidden" th:value="#{programtool}" class="programtool"/>
	<input type="hidden" th:value="#{generatecode}" class="generatecode"/>
	<input type="hidden" th:value="#{database.maintenance}" class="databaseMaintenance"/>
	<input type="hidden" th:value="#{timed.task}" class="timedTask"/>
	<input type="hidden" th:value="#{graph.analysis}" class="graphAnalysis"/>
</div>
<script type="text/javascript" th:src="@{/assets/js/jquery-1.8.1.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/bui-min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/common/main-min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/config-min.js}"></script>
<script>
	$(function(){
		BUI.use('common/main',function(){
	        var config = [{id:'1',menu:[{text:$(".systemmanage").val(),items:[{id:'12',text:$(".usermanage").val(),href:'/server/initUserManager'},{id:'3',text:'角色管理',href:'Role/index.html'},{id:'4',text:$(".timedTask").val(),href:'/timedtask/initPage'},{id:'6',text:$(".graphAnalysis").val(),href:'/grapha/graphAnalysis'}]}]},{id:'7',homePage : '9',menu:[{text:$(".programtool").val(),items:[{id:'9',text:$(".generatecode").val(),href:'/server/generator?url=generator'},{id:'10',text:$(".databaseMaintenance").val(),href:'/server/database?url=database'}]}]}];
	        new PageUtil.MainPage({
	            modulesConfig : config
	        });
	    });
	})
    
</script>
</body>
</html>