<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/context.standalone.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/rolemanage.css}" rel="stylesheet" type="text/css">
<script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/hws.ajax.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-treeview.min.js}" type="text/javascript"></script>
<script th:src="@{/layer/layer.js}" type="text/javascript"></script>
<script th:src="@{/js/rolemanage.js}" type="text/javascript"></script>
</head>
<body>
	<div class="container">
		<div class="showTab">
			<div class="title">
				<select class="type">
					<option th:value="1" th:text="#{serial.number}"></option>
					<option th:value="2" th:text="#{name}"></option>
				</select>
				<input type="text"/>
				<button th:text="#{search}" class="search"></button>
				<!-- <button th:text="#{add}" class="add"></button> -->
			</div> 
			<div class="data">
				<table class="table table-bordered table-hover definewidth m10 dataTable" >
					<thead>
						<tr>
							<th th:text="#{serial.number}"></th>
							<th th:text="#{name}"></th>
							<th th:text="#{role}"></th>
							<th th:text="#{permission}"></th>
							<th th:text="#{operater}"></th>
						</tr>
					</thead>
					<tbody>
						 <tr th:each="user : ${userList}">
							<td th:text="${user.userId}"></td>
							<td th:text="${user.userName}"></td>
							
							<td>
								<ul class="roleUl">
									<li  th:text="${roleObj.role}" th:value="${roleObj.roleid}" th:each="roleObj:${user.roleList}"></li>
								</ul>
							<td>
								<ul class="preUl">
									<th:block th:each="roleObj:${user.roleList}">
										<li th:value="${permissionObj.roleid}" th:text="${permissionObj.permission}" th:each="permissionObj:${roleObj.permissionList}"></li>
									</th:block>
								</ul>
							</td>
							
							<td th:text="#{edit}" class="edit"></td>
						</tr> 
					</tbody>
					
				</table>
			</div>
		</div>
		<div class="showEdit">
			<table class="table table-bordered table-hover definewidth m10 editTable">
				<tr>
					<td th:text="#{serial.number}"></td>
					<td><input type="text" readonly="readonly"/></td>
				</tr>
				<tr>
					<td th:text="#{name}"></td>
					<td><input type="text" readonly="readonly"/></td>
				</tr>
				<tr>
					<td th:text="#{role}"></td>
					<td style="padding:0px;" class="roleTd"><ul class="roleList"></ul></td>
				</tr>
				<tr>
					<td th:text="#{permission}"></td>
					<td style="padding:0px;" class="preTd"><ul class="preList"></ul></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button type="button" class="btn btn-primary saveChange" th:text="#{save}"></button>
						<button type="button" class="btn btn-success return" th:text="#{return.list}"></button>
					</td>
				</tr>
			</table>
			<ul class="roleCollection">
				<li th:each="role:${roleList}" th:value="${role}" th:text="${role}"></li>
			</ul>
			<ul class="preCollection">
				<li  th:value="${pre}" th:text="${pre}" th:each="pre:${permissionList}" ></li>
			</ul>
			
		</div>
	</div>
	<div class="i18n">
		<input class="edit" type="hidden" th:value="#{edit}">
	</div>
</body>
</html>