<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/context.standalone.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/timedtask.css}" rel="stylesheet" type="text/css">
<script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/hws.ajax.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-treeview.min.js}" type="text/javascript"></script>
<script th:src="@{/layer/layer.js}" type="text/javascript"></script>
<script th:src="@{/js/context.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}" type="text/javascript"></script>
<script th:src="@{/js/timedtask.js}" type="text/javascript"></script>
</head>
<body>
	<div class="container">
		<div class="titleButton">
			<input class="createButton" type="button" th:value="#{add}"/>
			<input class="deleteButton" type="button" th:value="#{delete}"/>
		</div>
		<div class="clear"></div>
		<div class="data">
				<table class="table table-bordered table-hover definewidth m10 dataTable" >
					<thead>
						<tr>
							<th th:text="#{task.name}"></th>
							<th th:text="#{create.time}"></th>
							<th th:text="#{finished.time}"></th>
							<th th:text="#{run.status}"></th>
							<th th:text="#{operater}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${result}" th:each="model : ${result}">
							<td th:text="${model.JOB_NAME}"></td>
							<td th:text="${model.qrtzTriggers.START_TIME}"></td>
							<td th:text="${model.qrtzTriggers.END_TIME}"></td>
							<td th:text="${model.qrtzTriggers.TRIGGER_STATE}"></td>
							<td th:text="#{edit}" class="edit"></td>
						</tr>
						<tr th:unless="${result}">
							<td colspan="5" align="center" th:text="#{no.data}"></td>
						</tr>
					</tbody>
					
				</table>
			</div>
	</div>
	<div class="shadeDiv"></div>
	<div class="addDiv">
		<table class='addJobTable'>
			<tr><td><lable for='taskNameVal' th:text="#{task.name}"></lable></td><td><input type='text' class='taskNameVal'/></td></tr>
			<tr><td><lable for='jobTypeVal' th:text="#{create.time}"></lable></td>
				<td><input type='text' class='jobTypeVal'/></td></tr>
			<tr>
				<td><lable for='createTimeVal' th:text="#{create.time}"></lable></td>
				<td>
					<div class="input-append date form_datetime startTimeDiv">
    					<input type="text" class="createTimeVal" readonly>
    					<span class="add-on"><i class='fa fa-calendar hws-icon' aria-hidden='true'></i></span>
					</div>
				</td>
			</tr>
			<tr><td><lable for='finishedTimeVal' th:text="#{finished.time}"></lable></td>
				<td>
					<div class="input-append date form_datetime endTimeDiv">
    					<input type="text" class="finishedTimeVal" readonly>
    					<span class="add-on"><i class='fa fa-calendar hws-icon' aria-hidden='true'></i></span>
					</div>
				</td>
			</tr>
			<tr><td><lable for='executionFrequencyVal' th:text="#{execution.frequency}"></lable></td><td><input type='text' class='executionFrequencyVal'/></td></tr>
			<tr>
				<td colspan="2" align="center">
					<button class="confirm" th:text="#{confirm}"></button>
					<button class="cancel" th:text="#{cancel}"></button>
				</td>
			</tr>
		</table>
	</div>
	<div class="i18n">
		<!-- <input class="add" type="hidden" th:value="#{add}"/>
		<input class="taskName" type="hidden" th:value="#{task.name}"/>
		<input class="createTime" type="hidden" th:value="#{create.time}"/>
		<input class="finishedTime" type="hidden" th:value="#{finished.time}"/>
		<input class="jobType" type="hidden" th:value="#{job.type}"/>
		<input class="executionFrequency" type="hidden" th:value="#{execution.frequency}"/>
		<input class="confirm" type="hidden" th:value="#{confirm}"/>
		<input class="cancel" type="hidden" th:value="#{cancel}"/> -->
	</div>
</body>
</html>