<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/context.standalone.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
<script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/hws.ajax.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-treeview.min.js}" type="text/javascript"></script>
<script th:src="@{/layer/layer.js}" type="text/javascript"></script>
</head>
<body>
	<div class="container"> 
		<div class="data"></div>
	</div>
	<div class="i18n">
		
	</div>
</body>
</html>