<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdcom.server.mapper.BarrageMapper">
	<sql id="bar">contentId,content,time,imageId</sql>
	<select id="getAllBar" resultType="org.common.model.Barrage">
		select <include refid="bar"></include> from t_barrage
	</select>
	<select id="getBarrageCount"  resultType="Integer">
		select count(contentId) from t_barrage where time = #{time}
	</select>
	<select id="getBarByImagesId" resultType="org.common.model.Barrage">
		select <include refid="bar"></include> from t_barrage where imageId  =#{imageId}
	</select>
	<insert id="addBarrage" parameterType="org.common.model.Barrage">
		insert into t_barrage(contentId,content,time,imageId) values(#{contentId},#{content},#{time},#{imageId})
	</insert>
	<delete id="delBarrageBycontentId">
		delete from t_barrage where contentId = #{contentId}
	</delete>
	<select id="getMaxContentId" resultType="org.common.model.Barrage">
		select max(contentId) contentId from t_barrage
	</select>
</mapper>