<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdcom.hws.mapper.WeChatMapper">
	<sql id="chat">w_id,w_content,w_time,w_temp1,w_nickName</sql>
	<select id="getAllChat" resultType="org.common.model.client.WeChat">
		select <include refid="chat"></include> from t_wechat
	</select>
	<insert id="addChat" parameterType="org.common.model.client.WeChat">
		 insert into t_wechat
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="w_id != null">
        w_id,
      </if>
      <if test="w_content != null">
        w_content,
      </if>
      <if test="w_time != null">
        w_time,
      </if>
      <if test="w_temp1 != null">
        w_temp1,
      </if>
      <if test="w_nickName != null">
        w_nickName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="w_id != null">
        #{w_id,jdbcType=INTEGER},
      </if>
      <if test="w_content != null">
        #{w_content,jdbcType=VARCHAR},
      </if>
      <if test="w_time != null">
        #{w_time,jdbcType=TIMESTAMP},
      </if>
      <if test="w_temp1 != null">
        #{w_temp1,jdbcType=VARCHAR},
      </if>
      <if test="w_nickName != null">
        #{w_nickName,jdbcType=VARCHAR},
      </if>
    </trim>
	</insert>
	<delete id="delChatById">
		delete from t_wechat where w_id = #{w_id}
	</delete>
	<select id="getMaxChatId" resultType="org.common.model.client.WeChat">
		select max(w_id) w_id from t_wechat
	</select>
	<select id="selectChatByTime" resultType="org.common.model.client.WeChat">
		select w_id,w_content,w_time,w_temp1,w_nickName from t_wechat where w_time &gt;= #{startTime} and time &lt;=#{endTime}
	</select>
</mapper>