<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<!-- 2018/12/23 -->
</head>
<body style="display:none">
	<div  th:fragment="i18n">
		<input  type="hidden" class="startUpload-i18n" th:value="#{start.upload}"/>
		<input  type="hidden" class="cantPreview-i18n" th:value="#{cant.preview}"/>
		<input  type="hidden" class="ssuccessfulUpload-i18n" th:value="#{successful.upload}"/>
		<input  type="hidden" class="uploadFailed-i18n" th:value="#{upload.failed}"/>
		<input  type="hidden" class="serverError-i18n" th:value="#{the.server.is.error}"/>
		<input  type="hidden" class="welcome-i18n" th:value="#{welcome}"/>
		<input  type="hidden" class="welcomeToYou-i18n" th:value="#{welcome.to.you}"/>
	</div>
</body>
</html>