<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>首页</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">

<script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/index.js}" type="text/javascript"></script>

</head>
<body>
	<!-- 此ul为弹幕容器 -->
	<ul class="scroll" th:each="bar,lstat:${barList}">
		<li th:text="${bar.content}"></li>
	</ul>
	<!-- 此后为主页需要显示的内容 -->
	<div class="container">
		<div class="top">
			<img   th:src="@{/img/togather.jpg}" usemap="#personMap"/>
			<map class="personMap" name="personMap">
			</map>
		</div>
		<div class="tipOfName">
			<p type="text" th:text=#{Guess1}></p>
		</div>
	</div>
	
	<div class="i18n">
		<input type="hidden" class="hewensheng-i18n" th:value="#{hewensheng}">
		<input type="hidden" class="confirm-i18n" th:value="#{confirm}">
		<input type="hidden" class="response-i18n" th:value="#{response}">
		<input type="hidden" class="response1-i18n" th:value="#{response1}">
		<input type="hidden" class="response2-i18n" th:value="#{response2}">
		<input type="hidden" class="response3-i18n" th:value="#{response3}">
		<input type="hidden" class="Iam-i18n" th:value="#{I.am}">
	</div>
</body>
</html>