<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{homepage}"></title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/webuploader.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">

<script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
<script th:src="@{/layer/layer.js}" type="text/javascript"></script>
<script th:src="@{/js/hws.ajax.js}" type="text/javascript"></script>
<script th:src="@{/js/3drotate.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/webuploader.min.js}" type="text/javascript"></script>
<script th:src="@{/js/myuploader.js}" type="text/javascript"></script>
<script th:src="@{/js/index.js}" type="text/javascript"></script>

</head>
<body>
	<!-- 此ul为弹幕容器 -->
	<ul class="scroll" >
		<li th:text="${bar.content}" th:each="bar,lstat:${barList}"></li>
	</ul>
	<!-- 此后为主页需要显示的内容 -->
	 <div class="container">
		<div class="top">
			<img   th:src="@{/img/togather.jpg}" usemap="#personMap"/>
			<map class="personMap" name="personMap">
			</map>
		</div>
		<div class="middle">
			<div class="images">
				<dl th:each="img:${pageInfo.list}">
					<dd><img th:src="${img.imageAddress}"/></dd>
					<dd class="shadeBar">
						<input type="hidden" th:value="${img.imageId}"/>
						<canvas style="width:250px;height:200px;"></canvas>
					</dd>
					<dt th:text="${img.imageAlias}"></dt>
				</dl>
				<button class="fa fa-plus fa-5x addImages" aria-hidden="true">
				</button>
			</div>
			<div  class="pageDiv" style="text-align: center;">
				<ul  class="pagination">
				    <li class="homePage"><a th:text="#{homepage}"></a></li>
				    <li class="previousPage"><a th:text="#{prevpage}"></a></li>
		    		<li  th:each="i:${#numbers.sequence(1, initPageSize)}"><a th:text="${i}"></a></li>
			   		<li class="nextPage"><a th:text="#{nextpage}"></a></li>
			    	<li class="endPage"><a th:text="#{endpage}"></a></li>
				</ul>
				<div class="turndiv">
			    	<input class="turnNum"  type="text" value="1" />
			    	/
			    	<input class="pages" readonly="readonly"  type="text" th:value="${pageInfo.pages}" />
			    	<button type="button" class="turn" th:text="#{jump}"></button>
			    </div>
			</div>
		</div>
	</div> 
	<div class="uploadDiv">
		<div class="uploadContent">
			<div id="uploader" class="wu-example">
	    		<div id="imgBuffList" class="uploader-list"></div>
	    		<div class="btns">
	        		<div id="picker"  th:text="#{select.picture}"></div>
        			<button id="ctlBtn" class="btn btn-default" th:text="#{start.upload}"></button>
	    		</div>
			</div>
		</div>
	</div>
	<div class="addBarDiv">
		<div class="currentBar">
		</div>
		<div>
			<input type="text"/>
			<button class="barFlag">
				<i class="fa fa-toggle-on fa-2x"  aria-hidden="true"></i>
			</button>
			<button class="addButton" th:text="#{send}"></button>
			<button class="closeButton" th:text="#{close}"></button>
		</div>
		<ul class="imgBarUl"></ul>
	</div>
	<div class="tipOfName">
		<p  th:text=#{Guess1}></p>
	</div>
	<div class="globalBackground"></div>
	<div class="i18n">
		<input type="hidden" class="hewensheng-i18n" th:value="#{hewensheng}">
		<input type="hidden" class="confirm-i18n" th:value="#{confirm}">
		<input type="hidden" class="response-i18n" th:value="#{response}">
		<input type="hidden" class="response1-i18n" th:value="#{response1}">
		<input type="hidden" class="response2-i18n" th:value="#{response2}">
		<input type="hidden" class="response3-i18n" th:value="#{response3}">
		<input type="hidden" class="Iam-i18n" th:value="#{I.am}">
		<input type="hidden" class="Guess1-i18n" th:value="#{Guess1}">
		<input type="hidden" class="homepage-i18n" th:value="#{homepage}">
		<input type="hidden" class="nextpage-i18n" th:value="#{nextpage}">
		<input type="hidden" class="prevpage-i18n" th:value="#{prevpage}">
		<input type="hidden" class="endpage-i18n" th:value="#{endpage}">
		<input type="hidden" class="jump-i18n" th:value="#{jump}">
		<input type="hidden" class="addSuccess-i18n" th:value="#{add}+#{success}">
		<input type="hidden" class="addFailure-i18n" th:value="#{add}+#{failure}">
		<input type="hidden" class="selectImg-i18n" th:value="#{select.picture}">
		<input type="hidden" class="outOfRange-i18n" th:value="#{out.of.range}">
	</div>
</body>
</html>