<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<head>
<meta charset="UTF-8">
<title>主页</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/index1.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/webuploader.css}" rel="stylesheet" type="text/css">
<script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/home.js}" type="text/javascript"></script>
<script th:src="@{/js/webuploader.min.js}" type="text/javascript"></script>
<script th:src="@{/js/myuploader.js}" type="text/javascript"></script>
</head>
<body>
	<div class="container">
		
	</div>
	<div id="uploader" class="wu-example">
	    <!--用来存放文件信息-->
	    <div id="imgBuffList" class="uploader-list"></div>
	    <div class="btns">
	        <div id="picker" th:text="#{select.picture}"></div>
	    </div>
	</div>
	

</body>
</html>