<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
<script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/common.js}" type="text/javascript"></script>
<style type="text/css">
	img{
		position: absolute;
		top:50%;
		left:50%;
		margin-top: -123px;
		margin-left: -145px;
	}
</style>
</head>
<body>
	<div>
		<img alt="" th:src="@{/img/unauthorized.jpg}" >
	</div>
</body>
</html>