.container{
	background-color: #323232;
	width: 100%;
	margin-top: -10px;
	padding: 0px;
}
.globalBackground{
	background-color: #323232;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 13;
}

.scroll li {
	position: fixed;
	display: inline-block;
	left: 100%;
	color: #000;
	white-space: nowrap;
	font-size: 16px;
	text-align: center;
	z-index: 100;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px 25px;
	border-radius: 20px;
	list-style: none; 
}
.scroll li:first{
	margin-top: 0px;
}
.top{
	margin-top: 20px;
	overflow-x: hidden;
	text-align: center;
}
.top img{
	border-radius: 5px;
	z-index: 1;
}
.tipOfName{
	width: 0px;
	height: 0px;
	border-radius: 5px;
	position: absolute;
	top: 20px;
	z-index: 2;
	border: 1px solid #323232;
	background-color: #323232;
	color: white;
	text-align: center;
	opacity:0;
}
.tipOfName input{
	border-bottom: 1px solid white;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	width: 80px;
	margin: auto;
	color: white;
	background-color: #323232;
	text-align: center;
}
.nameConfirm{
	border-radius: 5px;
	color: black;
	text-align: center;
	display: block;
	background-color: #5bb75b;
	border: none;
	width: 50px;
	height: 30px;
	opacity: 1;
	margin:  auto;
	outline: none;
}
br{
	height: 10px;
}
.middle{
	background-color: white;
}
.images{
	padding-top: 20px;
	width: 100%;
}
.images dl{
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
}
.images dl dd img{
	width: 250px;
	height: 200px;
	border-radius: 5px;
}
.images dl dt{
	text-align: center;
	width: 200px;
}
.shadeBar{
	position: absolute;
	width: 250px;
	height: 200px;
	border-radius: 5px;
	background-color: rgba(	212,212,212, 0.4);
	color: #1A1A1A;
	z-index: 12;
	margin-top: -200px;
	opacity: 0;
	cursor: pointer;
}
.addImages{
	width: 250px;
	height: 200px;
	border-radius: 5px;
	outline: none;
	margin-left: 10px;
	cursor: pointer;
	margin-top: -220px;
	vertical-align: middle;
}

.turnNum{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height:34px;
	width: 50px;
	outline:none;
	text-align: center;
}
.pages{
	height:34px;
	width: 50px;
	outline:none;
	text-align: center;
	border: none;
}
.turn{
	border-radius: 5px;
	width: 50px;
	height: 34px;
	color: white;
	background-color: #337ab7;
}
.pagination,.turndiv{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.pagination li{
	cursor: pointer;
}
.uploadDiv{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0%;
	display: none;
	background-color: rgba(	26,26,26, 0.5);
	z-index: 14; 
}
.uploadContent{
	width: 800px;
	height: 500px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: auto;
	background-color: white;
}
#imgBuffList{
	border: 1px solid #ddd;
	height:400px;
	overflow-x: hidden; 
}
#picker{
	display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 0;
}
.btns{
	margin-top: 20px;
	margin-left: 10px;
}
.addBarDiv{
	display: none;
	text-align: center;
	position: fixed;
	z-index: 14;
	background-color: white;
}
.currentBar div{
	display: inline-block;
	border: none;
	position: absolute;
	z-index: 15;
}
.addBg{
	background-color: #323232;
}
.currentBar img{
	text-align: center;
	border-radius: 5px;
}
.addBarDiv{
	border-radius: 5px;
	overflow: hidden;
}
.addBarDiv input{
	width: 300px;
	height: 34px;
	font-size: 16px;
	outline: none;
	border-radius: 5px;
	border: none;
	border: 1px solid #333;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 5px;
}
.barFlag{
	margin: 0px;
	padding: 0px;
	border: none;
	vertical-align: middle;
	outline: none;
}

.addButton{
	height: 34px;
	width: 60px;
	background-color: #337ab7;
	border-radius: 5px;
	color: white;
	border: none;
}
.closeButton{
	height: 34px;
	width: 60px;
	background-color: #333;
	border-radius: 5px;
	color: white;
	border: none;
}
.imgBarUl li{
	position: absolute;
	display: inline-block;
	top: 0px;
	left: 100%;
	color: #000;
	white-space: nowrap;
	font-size: 16px;
	text-align: center;
	z-index: 14;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px 25px;
	border-radius: 20px;
	list-style: none; 
}
.bottom{
	background-color: white;
}
/* 解决weuploader无法触发的问题 */
#picker div:nth-child(2){
	width:100%!important;
	height:100%!important;
	}