.bgImg img{
	filter: blur(2px);
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
}
.content-dl{
	background-color: white;
	width: 70%;
	margin: auto;
}