<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapperPUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.T_demoMapper">	
	<select id="getAllT_demo"  resultType="com.example.demo.model.T_demo">
		select * from t_demo
	</select>
	<insert id="insert" parameterType="com.example.demo.model.T_demo">
		insert   into t_user(demo1,demo2) values(#{demo1},#{demo2})
	</insert>
</mapper>